.paymentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50vmin;
}

.paymentFormBtn {
  background-color: tomato;
  color: white;
  border: none;
  padding: 0.8vmax 2vmax;
  width: 50%;
  font: 300 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
  width: 25vmax;
  font-size: 1rem;
}

.paymentFormBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 4vw;
    font-size: 1rem;
    width: 40vmax;
  }
  .paymentContainer {
    flex-direction: column;
  }
}
